<%- include('../partials/header') %>

<% if (drinkAPI) { %>
<div class="block">
    <div class="card">
        <div class="card-content">
            <ul>
                <h3 class="title"><%= drinkAPI.strDrink %></h3>
                <% if (drinkAPI.strDrinkThumb) { %>
                <img src="<%= drinkAPI.strDrinkThumb %>" alt="<%= drinkAPI.strDrink %>" width="150px">
                <% } %>
                <p><%= drinkAPI.strInstructions %> </p>
                <table>
                    <% for (let i = 1; i <= 15; i++) { %>
                    <% let ingredient = 'strIngredient'+i %>
                    <% let measure = 'strMeasure'+i %>
                    <% if ( drinkAPI[ingredient]) { %>
                    <tr>
                        <td><%=drinkAPI[ingredient]%></td>
                        <td><%=drinkAPI[measure]%></td>
                    </tr>
                    <% }} %>
                </table>
            </ul>
        </div>
    </div>
</div>
<h3 class="title">Reviews:</h3>
<% if (reviews > 0) { %>
    <% reviews.forEach(r => { %>
        <div class="block">
            <div class="card">
                <div class="card-content">
                    <p><%= r.rating %> </p>
                    <% if (r.details.length > 0) { %>
                        <p><%= r.details %> </p>
                    <% } %>
                    <p><%= r.author %> </p>
                </div>
            </div> 
        </div>
    <% }) %> 
<% } %>

<div class="block">
    <div class="card">
        <div class="card-content">
            <ul>
                <form action="/reviews/<%=drinkAPI.idDrink%>" method="POST">
                    <label for="rating">Rating</label>
                    <select name="rating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <label for="details">Comments:</label>
                    <input type="text" name="details">
                    <label for="user">
                        <% if (user) { %>
                        <%= user.name %>
                        <button type="submit">Submit Review</button>
                        <% } else { %>
                        You must be <a href="/auth/google">Logged In</a> to leave a review!
                        <% }; %>
                    </label>
                </form>
            </ul>
        </div>
    </div>
</div>
<% }; %>

<% if (drink) { %>
<div class="block">
    <div class="card">
        <div class="card-content">
            <ul>
                <h3 class="title"><%= drink.name %></h3>
                <form action="/drinks/delete/<%=drink.id%>?_method=DELETE" method="POST"><button type="submit">X</button>
                </form>
                <h4 class="subtitle"><%= drink.category %></h4>
                <% if (drink.drinkImg) { %>
                <img src="<%= drink.drinkImg %>" alt="<%= drink.name %>" width="150px">
                <% } %>
                <p><%= drink.instructions%></p>
                <h5>Ingredients:</h5>
                <table>
                    <% for (let i = 1; i <= 15; i++) { %>
                    <% let ingredient = 'ingredient'+i %>
                    <% let measure = 'measure'+i %>
                    <% if ( drink[ingredient]) { %>
                    <tr>
                        <td><%=drink[ingredient]%></td>
                        <td><%=drink[measure]%></td>
                    </tr>
                    <% }} %>
                </table>
            </ul>
        </div>
    </div>
</div>
<h3 class="title">Reviews:</h3>
<% console.log(reviews) %> 
<% if (reviews > 0) { %>
<% reviews.forEach(r => { %>
<div class="block">
    <div class="card">
        <div class="card-content">
            <p><%= r.rating %> </p>
            <% if (r.details.length > 0) { %>
            <p><%= r.details %> </p>
            <% } %>
            <p><%= r.author %> </p>
        </div>
    </div>
</div>
<% }) %>
<% } %>
<div class="block">
    <div class="card">
        <div class="card-content">
            <ul>
                <form action="/reviews/<%=drink.id%>" method="POST">
                    <label for="rating">Rating</label>
                    <select name="rating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <label for="details">Comments:</label>
                    <input type="text" name="details">
                    <label for="user">
                        <% if (user) { %>
                        <%= user.name %>
                        <button type="submit">Submit Review</button>
                        <% } else { %>
                        You must be <a href="/auth/google">Logged In</a> to leave a review!
                        <% }; %>
                    </label>
                </form>

            </ul>
        </div>
    </div>
</div>
<% }; %>
