<%- include('../partials/header') %>

<% if (docs) { %>
    <% console.log('docs', docs) %>
<% docs.forEach(md => { %>
<div class="block">
    <div class="card">
        <div class="card-content">
            <ul>
                <h3 class="title"><a href="/drinks/details/<%=md.idDrink%>"><%= md.name %></a></h3>
                <form action="/drinks/delete/<%=md.id%>?_method=DELETE" method="POST"><button type="submit">X</button>
                </form>
                <h4 class="subtitle"><%= md.category %></h4>
                <% if (md.drinkImg) { %>
                <img src="<%= md.drinkImg %>" alt="<%= md.name %> Image" width="150px">
                <% } %>
                <p><%= md.instructions.substr(0,40) %> ...</p>
                <h5>Ingredients:</h5>
                <table>
                    <% for (let i = 1; i <= 4; i++) { %>
                    <% let ingredient = 'ingredient'+i %>
                    <% let measure = 'measure'+i %>
                    <% if ( md[ingredient]) { %>
                    <tr>
                        <td><%=md[ingredient]%></td>
                        <td><%=md[measure]%></td>
                    </tr>
                    <% }} %>
                    <% if (md.ingredient5) { %>
                    <tr>
                        <td><a href="/drinks/details/<%=md._id%>">click for more...</a></td>
                    </tr>
                    <% } %>
                </table>
            </ul>
        </div>
    </div>
</div>
<% }) %>
<% }; %>

<% if (drinks) { %>
   <% console.log('drinks', drinks) %>
<% drinks.forEach(d => { %>
<ul><h3><a href="/drinks/details/<%=d.idDrink%>"><%= d.strDrink %></a></h3></ul>
    <li><img src="<%=d.strDrinkThumb%>" alt="<%=d.strDrink%>" width="150px"></li>
    <li><%= d.strInstructions %></li>
    <h5>Ingredients:</h5>
    <table>
        <% for (let i = 1; i <= 4; i++) { %>
        <% let ingredient = 'strIngredient'+i %>
        <% let measure = 'strMeasure'+i %>
        <% if ( d[ingredient]) { %>
        <tr>
            <td><%=d[ingredient]%></td>
            <td><%=d[measure]%></td>
        </tr>
        <% }} %>
        <% if (d.strIngredient5) { %>
        <tr>
            <td><a href="/drinks/details/<%=d.idDrink%>">click for more...</a></td>
        </tr>
        <% } %>
    </table>
<% }) %>
<% }; %>