<%- include('../partials/header') %>

<div class="container">
    <div class="row center-cols center-align">
        <% if (docs) { %>
            <% docs.forEach(md => { %>
                <div class="col s4">
                    <div class="card medium">
                        <div class="card-image waves-effect waves-block waves-light">
                            <% if (md.drinkImg) { %>
                            <img class="activator" src="<%= md.drinkImg %>" alt="<%= md.name %>">
                            <% } else { %>
                            <img class="activator" src="https://i.ytimg.com/vi/c6GV_vRlIIA/maxresdefault.jpg" alt="default drink">
                            <% }; %>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4"><%= md.name %><i
                                    class="material-icons right">more_vert</i></span><br><br>
                            <p><a href="#"><a href="/drinks/details/<%=md.idDrink%>">Click to view full drink details</a></a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><a
                                    href="/drinks/details/<%=md.idDrink%>"><%= md.name %></a><i
                                    class="material-icons right">close</i></span>
                            <p><%= md.instructions %></p>
                            <h5>Ingredients:</h5>
                            <table class="responsive-table">
                                <% for (let i = 1; i <= 15; i++) { %>
                                <% let ingredient = 'ingredient'+i %>
                                <% let measure = 'measure'+i %>
                                <% if ( md[ingredient]) { %>
                                <tr>
                                    <td><%=md[ingredient]%></td>
                                    <td><%=md[measure]%></td>
                                </tr>
                                <% }} %>
                            </table>
                            <p class="grey-text">Author: <%= md.author %> </p>
                        </div>
                    </div>
                </div>
            <% }); %>
        <% }; %>
        <% if (drinks) { %>
        <% drinks.forEach(d => { %>
        <div class="col s4">
            <div class="card medium">
                <div class="card-image waves-effect waves-block waves-light">
                    <% if (d.strDrinkThumb) { %>
                    <img class="activator" src="<%= d.strDrinkThumb %>" alt="<%= d.strDrink %>">
                    <% } else { %>
                    <img class="activator" src="https://i.ytimg.com/vi/c6GV_vRlIIA/maxresdefault.jpg"
                        alt="default drink">
                    <% }; %>
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><%= d.strDrink %><i
                            class="material-icons right">more_vert</i></span><br><br>
                    <p><a href="#"><a href="/drinks/details/<%=d.idDrink%>">Click to view full drink details</a></a>
                    </p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><a
                            href="/drinks/details/<%=d.idDrink%>"><%= d.strDrink %></a><i
                            class="material-icons right">close</i></span>
                    <p><%= d.strInstructions %></p>
                    <h5>Ingredients:</h5>
                    <table class="responsive-table">
                        <% for (let i = 1; i <= 15; i++) { %>
                        <% let ingredient = 'strIngredient'+i %>
                        <% let measure = 'strMeasure'+i %>
                        <% if ( d[ingredient]) { %>
                        <tr>
                            <td><%=d[ingredient]%></td>
                            <td><%=d[measure]%></td>
                        </tr>
                        <% }} %>
                    </table>
                    <p class="grey-text">Author: TheCocktailDB</p>
                </div>
            </div>
        </div>
        <% }); %>
        <% }; %>
    </div>
</div>

<%- include('../partials/footer') %> 